/* Estilo global para o body */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    cursor: pointer;
}

/* Estilo do título */
h1 {
    text-align: center;
    font-size: 24px;
}

/* Estilos para o container principal */
.App {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do formulário */
#notaForm {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#notaForm input, #notaForm button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

/* Estilo para os botões dentro das notas */
.nota button {
    padding: 5px 10px;
    cursor: pointer;
}

.nota button:hover {
    background-color: darkred;
}

/* Estilos para os botões de Adicionar, Salvar e Deletar */
button {
    padding: 4px 8px; /* Reduz o tamanho do padding */
    font-size: 14px; /* Tamanho da fonte um pouco menor */
    border-radius: 10px; /* Botões arredondados, mas menores */
    border: none; /* Sem bordas adicionais */
    cursor: pointer;
}

/* Botão azul para adicionar */
button.adicionar {
    background-color: #008CBA; /* Cor azul */
    color: white;
}

button.adicionar:hover {
    background-color: #005f73; /* Cor azul mais escuro no hover */
}

/* Botão verde para salvar */
button.salvar {
    background-color: #4CAF50; /* Cor verde */
    color: white;
}

button.salvar:hover {
    opacity: 0.85; /* Leve efeito de opacidade */
}

/* Botão vermelho para deletar */
button.deletar {
    background-color: #f44336; /* Cor vermelha */
    color: white;
}

button.deletar:hover {
    opacity: 0.85; /* Leve efeito de opacidade */
}

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 480px) {
    .App {
        padding: 10px; /* Reduz o padding em celulares */
    }

    #notaForm input, #notaForm button {
        padding: 8px; /* Menor padding nos inputs e botões */
        font-size: 14px; /* Reduz o tamanho da fonte nos inputs */
    }

    table, th, td {
        font-size: 12px; /* Reduz o tamanho da fonte da tabela */
        padding: 6px; /* Reduz o padding nas células */
    }

    h1 {
        font-size: 18px; /* Título menor em dispositivos móveis */
    }
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #333;
}

.error-message {
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 15px;
}
